*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    max-width: 1120px;
    margin: 0px auto;
    background-color: beige;
}

.main{
    margin-top: 50px;
    /* padding-top: 30px; */
    display:flex;
}

.main .project{
    flex: 7;
}

.main .my{
    flex: 3;
}